@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@200;300&family=Raleway:wght@100&family=Roboto&display=swap');

body {
    box-sizing: border-box;
}

.bg-container {
    margin: 0%;
}

.first-page-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 100vh;
}

.nav-bar {
    background-color: #f76060;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;

    @media screen and (min-width: 769px) {
        flex-direction: row;
    }
}

.list-item {
    list-style: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold;

    @media screen and (min-width: 481px) {
        font-size: 20px;
    }

    @media screen and (min-width: 769px) {
        font-size: 22px;
    }
}

.menu-bar {
    height: 20px;
    width: 20px;
    margin-right: 30px;

    @media screen and (min-width: 481px) {
        height: 22px;
        width: 22px;
    }

    @media screen and (min-width: 769px) {
        height: 25px;
        width: 25px;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media screen and (min-width: 769px) {
        flex-direction: row;
    }
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-image: linear-gradient(to right, #f8fa98, #f7c1c9);
    font-family: "Roboto";
}

.heading {
    font-family: "Roboto Mono", sans-serif;
    font-size: 28px;

    @media screen and (min-width: 481px) {
        font-size: 36px;
    }

    @media screen and (min-width: 769px) {
        font-size: 50px;
    }
}

.description {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-bottom: 50px;

    @media screen and (min-width: 481px) {
        font-size: 16px;
    }

    @media screen and (min-width: 769px) {
        font-size: 20px;
    }
}

.button {
    height: 26px;
    width: 100px;
    color: #ffffff;
    border: none;
    background-color: #f76060;
    font-size: 12px;

    @media screen and (min-width: 481px) {
        height: 26px;
        width: 120px;
        font-size: 14px;
    }

    @media screen and (min-width: 769px) {
        height: 40px;
        width: 200px;
        font-size: 16px;
    }
}

.burger-image {
    height: auto;
    width: auto;

    @media screen and (min-width: 769px) {
        width: 50%;
    }
}

.second-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f8fa98, #f7c1c9, #f590f3);
    min-height: 100vh;

    @media screen and (min-width: 769px) {
        flex-direction: row;
    }
}

.images-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 481px) {
        flex-direction: row;
        margin-right: 20px;
    }

    @media screen and (min-width: 769px) {
        flex-direction: row;
        margin-right: 20px;
    }
}

.two-images {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}



.first-images {
    height: 200px;
    width: 200px;
    margin-bottom: 5px;

    @media screen and (min-width: 481px) {
        height: 200px;
        width: 200px;
    }

    @media screen and (min-width: 769px) {
        height: 250px;
        width: 250px;
    }
}


.second-image {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;

    @media screen and (min-width: 481px) {
        height: 400px;
        width: 200px;
    }

    @media screen and (min-width: 769px) {
        height: 500px;
        width: 250px;
    }
}

.card-container {
    background-color: #f76060;
    padding: 20px;
    font-family: "Roboto";
}

.card-side-heading {
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;

    @media screen and (min-width: 481px) {
        font-size: 14px;
    }

    @media screen and (min-width: 769px) {
        font-size: 18px;
    }
}

.card-heading {
    font-family: "Roboto Mono", sans-serif;
    font-size: 22px;

    @media screen and (min-width: 481px) {
        font-size: 26px;
    }

    @media screen and (min-width: 769px) {
        font-size: 36px;
    }
}

.click-container {
    display: flex;
    align-items: center;
}

.click-para {
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;
    margin-right: 5px;

    @media screen and (min-width: 481px) {
        font-size: 14px;
    }

    @media screen and (min-width: 769px) {
        font-size: 16px;
    }
}

.arrow-img {
    height: auto;
    width: 16px;

    @media screen and (min-width: 481px) {
        width: 18px;
    }

    @media screen and (min-width: 769px) {
        width: 20px;
    }
}